<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>代理模式</title>
    </head>
    <body>
        <div id="uploadList">
            <input type="text" id="1" />1
            <input type="checkbox" name="check" id="1">checkbox1</input>
            <input type="checkbox" name="check" id="2">checkbox2</input>
            <input type="checkbox" name="check" id="3">checkbox3</input>
            <input type="checkbox" name="check" id="4">checkbox4</input>
            <input type="checkbox" name="check" id="5">checkbox5</input>
            <input type="checkbox" name="check" id="6">checkbox6</input>
        </div>
        <script src="../js/proxy.js" charset="utf-8"></script>
    </body>
</html>
